{% extends 'base.html.twig' %}

{% block title %}Welcome to AMOKILA!{% endblock %}

{% block body %}

    <div class="home_logo" >
        <img src="{{ asset('assets/img/logo_transparent.png') }}" alt="logo" />
    </div>

{% endblock %}
