{% extends 'admin/admin_base.html.twig' %}

{% block title %}Admin Dashboard!{% endblock %}

{% block body %}

    <div class="header-body">

    </div>
    <div class="container-body">
        <div id='calendar' style="min-width: 800px;overflow-x: scroll;"></div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        var events = $.parseJSON('{{ tasksEvents | raw }}');
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                events: events
            });
            calendar.render();
        });
    </script>
{% endblock %}