{% extends 'forms_base.html.twig' %}

{% block title %}DETAILS UTILISATEUR{% endblock %}

{% block titleHeader %}DETAILS UTILISATEUR{% endblock %}
{% block body %}

    <div class="bg-white col-md-12 card card-details">
        <div class="view">

        </div>
    </div>

{% endblock %}