{% extends 'admin/admin_base.html.twig' %}

{% block title %}Admin Dashboard!{% endblock %}

{% block body %}

    <div class="header-body">
        <button class="btn btn-dark w-240 mt-5 ml-2">Ref filter</button>
        <button class="btn btn-dark w-240 mt-5 ml-2">Task name filter</button>
        <button class="btn btn-dark w-240 mt-5 ml-2">Add task</button>
    </div>
    <div class="container-body">

        <table>
            <thead>
            <tr>
                <th>Ref</th>
                <th>Task name</th>
                <th>Progress</th>
                <th style="width: 30%;">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>0005</td>
                <td>Task name</td>
                <th>
                    <a class="badge badge-success font-14">100%</a>
                </th>
                <td>
                    <button class="btn btn-warning font-14 w-100 mt-2">Modify</button>
                    <button class="btn btn-danger font-14 w-100 mt-2">Delete</button>
                    <button class="btn btn-secondary font-14 w-100 mt-2">More</button>
                </td>
            </tr>
            <tr>
                <td>0005</td>
                <td>Task name</td>
                <th>
                    <a class="badge badge-success font-14">100%</a>
                </th>
                <td>
                    <button class="btn btn-warning font-14 w-100 mt-2">Modify</button>
                    <button class="btn btn-danger font-14 w-100 mt-2">Delete</button>
                    <button class="btn btn-secondary font-14 w-100 mt-2">More</button>
                </td>
            </tr>
            <tr>
                <td>0005</td>
                <td>Task name</td>
                <th>
                    <a class="badge badge-success font-14">100%</a>
                </th>
                <td>
                    <button class="btn btn-warning font-14 w-100 mt-2">Modify</button>
                    <button class="btn btn-danger font-14 w-100 mt-2">Delete</button>
                    <button class="btn btn-secondary font-14 w-100 mt-2">More</button>
                </td>
            </tr>
            <tr>
                <td>0005</td>
                <td>Task name</td>
                <th>
                    <a class="badge badge-success font-14">100%</a>
                </th>
                <td>
                    <button class="btn btn-warning font-14 w-100 mt-2">Modify</button>
                    <button class="btn btn-danger font-14 w-100 mt-2">Delete</button>
                    <button class="btn btn-secondary font-14 w-100 mt-2">More</button>
                </td>
            </tr>
            <tr>
                <td>0005</td>
                <td>Task name</td>
                <th>
                    <a class="badge badge-success font-14">100%</a>
                </th>
                <td>
                    <button class="btn btn-warning font-14 w-100 mt-2">Modify</button>
                    <button class="btn btn-danger font-14 w-100 mt-2">Delete</button>
                    <button class="btn btn-secondary font-14 w-100 mt-2">More</button>
                </td>
            </tr>
            <tr>
                <td>0005</td>
                <td>Task name</td>
                <th>
                    <a class="badge badge-success font-14">100%</a>
                </th>
                <td>
                    <button class="btn btn-warning font-14 w-100 mt-2">Modify</button>
                    <button class="btn btn-danger font-14 w-100 mt-2">Delete</button>
                    <button class="btn btn-secondary font-14 w-100 mt-2">More</button>
                </td>
            </tr>
            <tr>
                <td>0005</td>
                <td>Task name</td>
                <th>
                    <a class="badge badge-success font-14">100%</a>
                </th>
                <td>
                    <button class="btn btn-warning font-14 w-100 mt-2">Modify</button>
                    <button class="btn btn-danger font-14 w-100 mt-2">Delete</button>
                    <button class="btn btn-secondary font-14 w-100 mt-2">More</button>
                </td>
            </tr>
            </tbody>


        </table>


    </div>

{% endblock %}