{% extends 'admin/admin_base.html.twig' %}

{% block title %}Admin Dashboard!{% endblock %}

{% block body %}

    <div class="header-body">

    </div>
    <div class="container-body">

        <div class="row">

            <div class="col-md-4 row ff-wrap">
                <div class="col-md-12 text-center">
                    Nombre de Projet
                    16
                </div>
                <div class="card col-md-12 p-15">
                    <a class="buttonLink">
                        <h3>5 derniers projets</h3>
                    </a>
                </div>
            </div>


            <div class="col-md-4 row ff-wrap">
                <div class="col-md-12 text-center">
                    Nombre de CR
                    65
                </div>
                <div class="card col-md-12 p-15">
                    <a class="buttonLink">
                        <h3>5 derniers CR</h3>
                    </a>
                </div>
            </div>


            <div class="col-md-4 row ff-wrap">
                <div class="col-md-12 text-center">
                    Nombre de Process
                    98
                </div>
                <div class="card col-md-12 p-15">
                    <a class="buttonLink">
                        <h3>5 derniers process</h3>
                    </a>
                </div>
            </div>


            <div class="col-md-4 row ff-wrap">
                <div class="col-md-12 text-center">
                    Nombre de Task
                    155
                </div>
                <div class="card col-md-12 p-15">
                    <a class="buttonLink">
                        <h3>5 derniers task</h3>
                    </a>
                </div>
            </div>


        </div>

        <div class="row">
            <div class="card col-md-4 p-15">
                <a class="buttonLink">
                    <h3>5 coûts par projet</h3>
                </a>
            </div>
            <div class="card col-md-4 p-15">
                <a class="buttonLink">
                    <h3>CR approval status</h3>
                </a>
            </div>
            <div class="card col-md-4 p-15">
                <a class="buttonLink">

                </a>
            </div>
            <div class="card col-md-4 p-15">
                <a class="buttonLink">
                    <h3>5 task progress</h3>
                </a>
            </div>

        </div>
    </div>

{% endblock %}
