@font-face {
    font-family: Helvetica;
    src: url(../fonts/FreeSansBold.otf);
}

@media only screen and (max-width: 600px) {
    ::-webkit-scrollbar {
        width: 0px !important;
        height: 0px !important;
    }
}

/* SCROLL BAR CSS START */
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #1F15A0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #888;
}
/* SCROLL BAR CSS END */



body,html{
    width: 100%;
    height: 100%;
    min-height: 100% !important;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* font pour tout les text */
*{
    font: normal normal bold 24px/29px Helvetica;
}

a{
    text-decoration: none;
}

a,button{
    cursor: pointer;
}

.front_nav{
    width: 100%;
    min-height: 120px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    background: #1F15A0 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.front_footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 120px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    background: #1F15A0 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
}
.container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.home_logo{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home_logo img{
    width: 800px;
    height: 800px;
    object-fit: cover;
}

.front_nav a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font: normal normal bold 24px/29px Helvetica;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.front_nav a:hover {
    background-color: #FFFFFF;
    color: #1F15A0;
}

.front_nav a.active {
    background-color: #04AA6D;
    color: white;
}

.front_nav .icon {
    display: none;
    font-size: 44px;
}

@media screen and (max-width: 600px) {
    .front_nav a {display: none;}
    .front_nav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .front_nav.responsive {position: relative;}
    .front_nav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .front_nav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .front_nav.responsive {
        display: block !important;
    }
    .container_forms {
        grid-template-columns: 100% !important;
    }
    .container_forms .section_right {
        grid-row: 1;
    }
    .dashbord,.row{
        flex-direction: column;
    }

    .dashbord .ff-wrap{
        width: 100% !important;
    }
    .col-md-4,.col-md-6,.col-md-8,.col-md-3 {
        width: 100% !important;
    }
}

@media screen and (max-width: 800px) and (min-width: 600px){
    .dashbord{
        flex-direction: column;
    }
    .dashbord .ff-wrap{
        width: 100% !important;
    }
}

.error-field ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.error-field ul li{
    color: #ff0918;
    font-size: 16px;
}

.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.alert-danger {
    color: #ffffff;
    background-color: #ff3742;
    border-color: #ff0918;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

/** forms section css **/
.section_top{
    width: 100%;
    min-height: 80px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    background: #0e0e0e 0% 0% no-repeat padding-box;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section_top a{
    color: #FFFFFF;
}
.container_forms{
    display: grid;
    grid-template-columns: 50% 50%;
    min-height: 100%;
}

.container_forms .section_left{
    height: 100%;
    min-height: 460PX;
    background: #000000;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #FFFFFF;
    align-items: center;
    padding: 15px 15px 0px 15px;
}
.container_forms .section_left img{
    width: 90%;
    height: 70%;
    object-fit: cover;
}
.container_forms .section_right{
    height: 100%;
    background: #1F15A0;
    min-height: 460PX;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 15px 0px 15px;
}

.section_top{
    color: #FFFFFF;
}


form h1,label{
    color: #FFFFFF;
    font-size: 18px;
}

form .form-control{
    width: 99%;
    height: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}


.customcheckbox div{
    display: flex;
}

form .custom-checkbox{
    height: 23px;
    width: 25px;
}


.form-group{
    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: 15px;
}

.btn {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 38px;
    opacity: 1;
    width: 160px;
    padding: 15px 15px 15px 20px;
    text-align: center;
}

.btn-light{
    background-color: #FFFFFF;
    color: #1F15A0;
}
.btn-dark{
    background-color: #000000;
    color: #FFFFFF;
}
.btn-warning{
    background-color: #D1AB2C;
    border-color: #D1AB2C;
    color: #FFFFFF;
}
.btn-danger{
    background-color: #E03D20;
    border-color: #E03D20;
    color: #FFFFFF;
}
.btn-secondary{
    background-color: #515A62;
    border-color: #515A62;
    color: #FFFFFF;
}

.text-danger{
    color: #E03D20;
}
.text-info{
     color: #17a2b8;
}
.text-primary{
      color: #007bff;
}
.text-black{
    color: #000000;
}

.btn-block{
    width: 100% !important;
}
.btn-algin{
    display: flex;
    align-items: flex-end;
}
.text-center{
    text-align: center;
}

.w-240{
    width: 240px !important;
}
.w-100{
    width: 100px !important;
}
.wc-100{
    width: 100% !important;
    min-height: 43px !important;
}
.h-45{
    height: 45px;
}
.mt-5{
   margin-top: 5px;
}
.mt-2{
    margin-top: 2px;
}
.ml-2{
    margin-left: 2px;
}
.font-14{
    font-size: 14px !important;
}
.bg-white{
    background-color: white !important;
}
.badge{
    display: block;
    width: 100px;
    height: 40px;
    text-align: center;
    font: italic normal normal 29px/35px Helvetica;
    opacity: 1;
}
.badge.badge-success{
    background-color: #25CB1E;
    border-color: #25CB1E;
    color: #FFFFFF;
}
.badge.badge-danger{
    background-color: #E03D20;
    border-color: #E03D20;
    color: #FFFFFF;
}
.badge.badge-warning{
    background-color: #D1AB2C;
    border-color: #D1AB2C;
    color: #FFFFFF;
}
.badge.badge-light{
    background-color: #FFFFFF;
    color: #000000;
    border: 1px solid #000000;
}
/** admin section css **/

#header{
    width: 100%;
    position: relative;
    min-height: 80px;
    background: #000000 0% 0% no-repeat padding-box;
    color: #fff;
    box-sizing: border-box;
    display: flex;
    padding: 0px 12px 0px 12px;
}
.menu {
    display: flex;
    flex-grow: 1;
    flex-basis: 100%;
    justify-content: flex-start;
}

.options {
    display: flex;
    flex-grow: 1;
    flex-basis: 100%;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

#header a{
    margin: 0 12px 0 0;
    font-size: 16px;
    cursor: pointer;
}
.side-menu{
    width: 320px;
    position: absolute;
    top: 0;
    background-color: #2810B7;
    height: calc(120% - 50px);
    z-index: 2;
    transition: all .5s ease 0s;
}

.side-menu.closed{
    width: 80px !important;
}

.side-menu.closed{
    width: 80px !important;
}

.side-menu.closed li a span,.side-menu.closed .side-logo{
    display: none;
    transition: all .5s ease 0s;
}

.top-side-menu{
    display: block;
    height: 30px;
    padding: 20px;
    color: #FFFFFF;
    font-size: 44px;
}

#side-menu {
    background: #2810B7;
}
.title h3{
    white-space: nowrap;
}
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
ul {
    list-style: none;
}
.nav>li {
    position: relative;
    display: block;
    width: 100%;
}
#side-menu li.active>a,#side-menu li>a:hover {
    border-radius: 0;
    color: #323a45;
    background: #e3e8ee;
}

#side-menu li a .black {
    display: none;
}
#side-menu li.active>a .black,#side-menu li>a:hover .black {
    display: block;
}
#side-menu li.active>a .white,#side-menu li>a:hover .white {
    display: none;
}

#side-menu li a {
      color: #fff;
      text-transform: uppercase;
      padding: 10px 20px 10px 5px;
      text-decoration: none;
      display: grid;
      grid-template-columns: 20% 70%;
      white-space: nowrap;
      text-align: center;
      align-items: center;
}
#side-menu li a span {
    font-size: 16px;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
li a i.menu-icon {
    margin-right: 16px;
    display: block;
    float: left;
    width: 18px;
    font-size: 44px;
}
#side-menu li.active, li .nav-second-level li {
    background: #fff;
    border-bottom: 0;
}
#toggle-menu{
    cursor: pointer;
}
.options span{
    cursor: pointer;
}

.options span img{
    width: 45px;
}

.side-logo{
    position: absolute;
    width: 104px;
    left: 120PX;
    top: 0px;
}

.admin_container{
    margin-left: 320px;
    transition: all .5s ease 0s;
}
.admin_content{
    padding: 15px;
}
.admin_container.closed{
    margin-left: 80px;
}
.header-body{
    display: flex;
    justify-content: center;
}
.container-body{
    margin-top: 25px;
    overflow-x:auto;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    overflow-x:auto;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    height: 50px;
}

.row{
    display: flex;
    justify-content: center;
}
.card{
    min-height: 120px;
    border:1px solid #000000;
    margin: 15px;
    padding: 15px;
    border-radius: 12px;
    text-align: center;
    max-width: 300px;
}
.card-details{
    height: auto !important;
}
.card-details p,h6{
    color: #000000 !important;
}

.col-md-3{
    width: 25%;
}
.col-md-4{
    width: 33.33%;
}
.col-md-6{
    width: 50%;
}
.col-md-8{
    width: 66.66%;
}
.col-md-12{
    width: 100%;
}
.ff-wrap{
    flex-flow: wrap;
}

.view h6,p{
    color: white;
    margin: 0;
}

.btn-file{
    height: 120px;
    background: none;
    border: 4px dashed #b1acac;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #b1acac;
    font-size: 60px;
}

.btn-file:hover{
    background: none;
}
.btn-file > input {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 23px;
    cursor: pointer;
    filter: alpha(opacity=0);
    opacity: 0;
    direction: ltr;
}
