{% extends 'admin/admin_base.html.twig' %}

{% block title %}Admin Dashboard!{% endblock %}

{% block body %}

    <div class="header-body text-center">
        <a href="{{ path('app_admin_project_ajouter') }}" class="btn btn-dark w-240 mt-5 ml-2">Add project</a>
    </div>
    <div class="container-body">

        <table>
            <thead>
            <tr>
                <th>Ref</th>
                <th>Project name</th>
                <th style="width: 30%;">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>0005</td>
                <td>Material name</td>
                <td>
                    <button class="btn btn-warning font-14 w-100 mt-2">Modify</button>
                    <button class="btn btn-danger font-14 w-100 mt-2">Delete</button>
                    <button class="btn btn-secondary font-14 w-100 mt-2">More</button>
                </td>
            </tr>
            <tr>
                <td>0005</td>
                <td>Material name</td>
                <td>
                    <button class="btn btn-warning font-14 w-100 mt-2">Modify</button>
                    <button class="btn btn-danger font-14 w-100 mt-2">Delete</button>
                    <button class="btn btn-secondary font-14 w-100 mt-2">More</button>
                </td>
            </tr>
            <tr>
                <td>0005</td>
                <td>Material name</td>
                <td>
                    <button class="btn btn-warning font-14 w-100 mt-2">Modify</button>
                    <button class="btn btn-danger font-14 w-100 mt-2">Delete</button>
                    <button class="btn btn-secondary font-14 w-100 mt-2">More</button>
                </td>
            </tr>
            <tr>
                <td>0005</td>
                <td>Material name</td>
                <td>
                    <button class="btn btn-warning font-14 w-100 mt-2">Modify</button>
                    <button class="btn btn-danger font-14 w-100 mt-2">Delete</button>
                    <button class="btn btn-secondary font-14 w-100 mt-2">More</button>
                </td>
            </tr>
            <tr>
                <td>0005</td>
                <td>Material name</td>
                <td>
                    <button class="btn btn-warning font-14 w-100 mt-2">Modify</button>
                    <button class="btn btn-danger font-14 w-100 mt-2">Delete</button>
                    <button class="btn btn-secondary font-14 w-100 mt-2">More</button>
                </td>
            </tr>
            <tr>
                <td>0005</td>
                <td>Material name</td>
                <td>
                    <button class="btn btn-warning font-14 w-100 mt-2">Modify</button>
                    <button class="btn btn-danger font-14 w-100 mt-2">Delete</button>
                    <button class="btn btn-secondary font-14 w-100 mt-2">More</button>
                </td>
            </tr>
            </tbody>


        </table>


    </div>

{% endblock %}