<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}AMOKILA!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('assets/css/font-awesome.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}"/>
        {% endblock %}
    </head>
    <body>
        {% include 'front_header.html.twig' %}
        <div class="container height-front">
            {% block body %}{% endblock %}
        </div>
        {% include 'front_footer.html.twig' %}
        {% block javascripts %}
            <script
                    src="https://code.jquery.com/jquery-3.6.0.min.js"
                    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
                    crossorigin="anonymous"></script>
            <script type="text/javascript" src="{{ asset('assets/js/custom.js') }}"></script>
        {% endblock %}
    </body>
</html>
