<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}AMOKILA!{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block stylesheets %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}"/>
    {% endblock %}

</head>
<body>
<div class="section_top">
    <h2>
        <a href="{{ path('app_admin') }}">{% block titleHeader %}AMOKILA{% endblock %}</a>
    </h2>
</div>
<div class="container_forms">

    <div class="section_left d-none-modible">
        <img src="{{ asset('assets/img/logo_transparentform.png') }}" alt="logo"/>
        <h3>
            Bienvenue dans la version web de AMOKILA
        </h3>
    </div>

    <div class="section_right">
        {% block body %}{% endblock %}
    </div>

</div>
{% block javascripts %}
    <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
{% endblock %}
</body>
</html>