{% extends 'forms_base.html.twig' %}

{% block title %}ERROR 500{% endblock %}

{% block titleHeader %}ERROR 500{% endblock %}
{% block body %}

    <div>
        <h3>ERROR 500</h3>
    </div>

{% endblock %}